<style>
    body {
        background: linear-gradient(to top, rgb(118,171,223), white);
        background-repeat: repeat-y;
    }
</style>

<br><br><br>

<h1 style="margin: 45px 30px 30px 5%;">Agenda</h1>

<hr><br>

<div class="bodyBox">
    {{#each posts}}
            <div class="post">
                <small>Prazo: {{limite}}</small>
                <h2>{{titulo}}</h2>
                <h3>{{materia}}</h3>
                <div class="content">
                    <p>{{conteudo}}</p>
                </div>
                <hr>
                <a href="/posts/{{id}}"><button class="btn">Ver postagem</button></a>
            </div><br>
    {{/each}}
</div>